$colores7: #f6aa62;
$colores9: #c7d1e1;

/* Ideas nuevas */
.bodyIdeas {
    display: grid;
    grid-template-areas: "header header header"
        "nav nav nav"
        "mainIdeas mainIdeas mainIdeas"
        "footer footer footer";

    .unicaSectionIdeas {
        display: grid;
        grid-template-areas: 
            "explicacion"
            "nota1"
            "nota2"
            "nota3";
        grid-area: mainIdeas;

        .explicacionPagina {
            display: flex;
            flex-flow: column wrap;
            background-color: $colores7;
            width: 25%;
            margin: auto;
            margin-bottom: 100px;
            border: 0.2px solid black;
            grid-area: explicacion;
            font-weight: bold;
            h2 {
                background-color: $colores3;
                width: 100%;
                border-bottom: .3px solid black;
                text-align: center;
            }
        }
        @for $i from 1 through 3{
            .ultranota{
                display: flex;
                flex-flow: row wrap;
                width: 25%;
                margin: auto;
                margin-bottom: 100px;
                background-color: $colores9;
                border: .2px solid black;
                font-weight: bold;
                grid-area: nota#{$i};
                padding-bottom: 5px;
                    h2 {
                    background-color: $colores3;
                    border-bottom: 0.2px solid black;
                    text-align: center;
                    }
                    img{
                    width: 95%;
                    margin: auto;
                    margin-bottom: 10px;
                    display: none;
                    }
                    p{
                        display: none;
                    }
                    &:hover{
                        height: auto;
                        img{
                            display: block;
                        }
                        p{
                            display: block;
                        }
                    }
                }
                .nota#{$i}{
                    display: flex;
                    flex-flow: column wrap;
                    width: 25%;
                    margin: auto;
                    margin-bottom: 100px;
                    background-color: $colores9;
                    border: .2px solid black;
                    font-weight: bold;
                    grid-area: nota#{$i};
                    padding-bottom: 5px;
                    
                        h2 {
                        background-color: $colores3;
                        border-bottom: 0.2px solid black;
                        text-align: center;
                        }
                        img{
                        width: 95%;
                        margin: auto;
                        margin-bottom: 10px;
                        }
                    }
            }
        }
    }
    .main-menu {
        list-style: none;
        background-color: rgb(39, 39, 39);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateY(-100%);
        transition: transform 0.3s;
      }
      
      .main-menu--show {
        transform: translateY(0);
      }
      
      @media (min-width: 768px) {
        .main-menu {
          flex-direction: row;
          transform: translateY(0);
        }
      }
      
      .toggle-menu {
        width: 4rem;
        cursor: pointer;
        z-index: 1;
      }
      
      @media (min-width:768px) {
        .toggle-menu {
          display: none;
        }
      }
      
      .main-menu__item {
        margin: 2rem 0
      }
      
      .main-menu__link {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 2rem;
      }
      

