$colores7: #f6aa62;
$colores9: #c7d1e1;

/* Ideas nuevas */
.bodyIdeas {
    display: grid;
    grid-template-areas: "header header header"
        "nav nav nav"
        "mainIdeas mainIdeas mainIdeas"
        "footer footer footer";

    .unicaSectionIdeas {
        display: grid;
        grid-template-areas: 
            "explicacion"
            "nota1"
            "nota2"
            "nota3"
            "nota4"
            "nota5"
            "nota6";
        grid-area: mainIdeas;

        .explicacionPagina {
            display: flex;
            flex-flow: column wrap;
            background-color: $colores7;
            width: 25%;
            margin: auto;
            margin-bottom: 100px;
            border: 0.2px solid black;
            grid-area: explicacion;
            font-weight: bold;
            h2 {
                background-color: $colores3;
                width: 100%;
                border-bottom: .3px solid black;
                text-align: center;
            }
        }
        @for $i from 1 through 7{
            .nota#{$i}{
                display: flex;
                flex-flow: column wrap;
                width: 25%;
                margin: auto;
                margin-bottom: 100px;
                background-color: $colores9;
                border: .2px solid black;
                font-weight: bold;
                grid-area: nota#{$i};
                padding-bottom: 5px;
                z-index: 0;
                    h2 {
                    background-color: $colores3;
                    border-bottom: 0.2px solid black;
                    text-align: center;
                    }
                    img{
                    width: 95%;
                    margin: auto;
                    margin-bottom: 10px;
                    }
                }
            }
        }
    }

