
$verde3: #048631;
$azulado1: #7cb5bc;
$azulado2: #00ffc8;
$color1: #00ff80;
$color2: #d9ff00;
$color3: #ff8800;
/* Proyectos */
.mainProjects {
    grid-area: mainProject;
    .sectionProyectos {
        display: grid;
        grid-template-areas:
            "ol1"
            "ol2"
            "ol3"
            "ol4"
            "ol5"
            "ol6";
        justify-content: center;
        @for $value from 1 through 6 {
            .sectionProyectosOl#{$value}{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                width: 80%;
                background-color: $azul;
                border: 2px solid $azulado1;
                max-width: 500px;
                grid-area: ol#{$value};
                font-size: large;
                font-weight: bold;
                margin: auto;
                margin-bottom: 50px;
                .olItem {
                    list-style: none;
                    border-bottom: .1px solid black;
                    a{
                        text-decoration: none;
                        color: black;   
                        transition: .3s;
                        &:hover{
                            background-position: 50% 100%;
                            background-size: 0% 0%, 2.5px;
                            font-size: 100%;
                            color:rgb(4, 109, 230);
                        }
                    }
                }
    
                .h2Section {
                    background-color: $amarillo;
                }
                h3{
                    background-color: $blanco;
                    border-top: .1px solid black;
                }
                h4{
                    background-color: $color2;
                }
            }
            .sectionProyectosOl1{
                margin-top: 5px;
            }
        }
    }
}

$azulado2: #709976;

.asideProyectos {
    grid-area: asideProjects;
    display: flex;
    margin-left: auto;
    margin-right: auto;
 
    margin-bottom: 5px;
    div {
        display: flex;
        flex-direction: column;
        background-color: $azul;
        max-width: 230px;
        h3 {
            background-color: $amarillo;
            margin-bottom: 3px;
        }
        img {
            width: 95%;
            margin-left: 5px;
        }
    }
}
.bodyProject {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "mainProject mainProject mainProject"
        "asideProjects asideProjects asideProjects"
        "footer footer footer";

}